<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="basicEndPoint">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="MessageServiceE.ServiceSistema">
        <endpoint address="EndpointCuenta" binding="netTcpBinding" bindingConfiguration="basicEndPoint" contract="MessageServiceE.IControlCuenta" />
        <endpoint address="EndpointJuego" binding="netTcpBinding" bindingConfiguration="basicEndPoint" contract="MessageServiceE.IControlJuego" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8282" />
            <add baseAddress="net.tcp://localhost:8091" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ErstickModeloContainer" connectionString="metadata=res://*/ErstickModelo.csdl|res://*/ErstickModelo.ssdl|res://*/ErstickModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4HPBN6B;initial catalog=ErstickBase;user id=sa;password=Bzhs87so!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>